* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 200px;
}

#button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem;
    padding: 1rem;
    font-size: 24px;
    font-weight: 700;
    border-radius: 1rem;
    background-color: red;
    color: white;
    cursor: pointer;
}
